<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Aminat Ajagbe, A3AJAGBE">
    <title>A3AJAGBE BLOG</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="static/images/favicon.ico">
</head>
<body>

<header>
    <h1 class="title">A3AJAGBE BLOG</h1>
</header>

<main>
    {% for blog in blogs %}
        <div class="content">
            <div class="card">
                <h2>{{blog.title}}</h2>
                <p class="text">{{blog.subtitle}}</p>
                <a href="{{ url_for('blog', blog_id=blog.id) }}">Read</a>
            </div>
        </div>
    {% endfor %}
</main>

<footer>
    <p>© {{year}}. Developed & Designed by: A3AJAGBE</p>
</footer>

</body>
</html>